geoip2 {{ nginx_geoip2_city_db }} {
  $geoip2_data_country_code country iso_code;
  $geoip2_data_region0 subdivisions 0 iso_code;
  $geoip2_data_city_name default=Seattle city names en;
  $geoip2_data_latitude location latitude;
  $geoip2_data_longitude location longitude;
}
