[Unit]
Description=The NGINX HTTP and reverse proxy server
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile={{ nginx_pid }}
ExecStartPre={{ nginx_source_sbin_path }} -t
{% if nginx_source_modules_included.passenger_module is defined %}
ExecStartPre=-/bin/mkdir /run/passenger-instreg
ExecStartPre=/bin/chmod 1777 /run/passenger-instreg
{% endif %}
ExecStart={{ nginx_source_sbin_path }}
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
